.slack-login-page {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  
  font-size: 14px;
  font-family: "Hind", sans-serif;
}

.page-body {
  text-align: center;
}