@import "../layout/font";

.profile-row {
  display: flex;
  justify-content: space-between;
  justify-self: flex-end;

  cursor: pointer;
}

.profile-row-photo {
  width: 64px;
  height: 64px;

  margin-left: 16px;
  background-size: cover;

  border-radius: 100%;
}

.profile-row-user-name {
  @include HindClassic();
}
