@import "../layout/color";
@import "../layout/font";

.input {
  @include HindClassic();

  padding: 0 25px;
  padding-top: 2px;
  background-color: $mystic;

  border: 2px solid transparent;
  border-radius: 28px;

  height: 45px;

  &::-webkit-input-placeholder {
    color: $gull-gray;
  }

  &:focus {
    background-color:white;

    border-color: $dark;
    outline: none;
  }
}
