@import "../layout/color";
@import "../layout/font";

.input {
    @include HindClassic();

    padding: 16px 25px;
    background-color: $mystic;

    border-radius: 28px;
    border:none;

    width: 505px;
    height: 56px;

   &::-webkit-input-placeholder {
    color: $gull-gray;
  }

  &:focus {
    background-color:white;
    border: 2px solid $dark;
    outline: none;

  }
}