@import "../../layout/font";
@import "../../layout/color";

.sidebar-row{
    display: flex;
    justify-content: space-between;

    .sidebar-row-title{
        @include HindClassic(); 

        margin:0;
        padding: 0;
        cursor: pointer;
        line-height: 56px;

        border:none;
        outline: none;

        background: transparent;

        &.active{
            color:$alizarin-crimson;
        }

        &:hover{
            opacity: 0.9;
        }
    }

    .sidebar-row-count{
        @include HindClassic();

        margin:0;
        line-height: 56px;
        color:$gull-gray;
    }
}