@import "../layout/color";

.search-box{
  display: flex;

  .input{
    padding-left:63px;
  }
}

.search-box-icon{
  display: block;
  position: absolute;

  width: 18px;
  height: 18px;

  margin: 13px 25px;

  background-image: url("../../static/assets/images/search-icon.svg");
  background-size: cover;
}
